*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,.main{
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box{
    width:600px;
    height: 100px;
    box-shadow: 5px 5px 15px 5px rgb(220,220,220) ;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 5px ;
    margin: 10px;
}
.grid1{
    margin: auto;
    height: 95px;
    width: 95px;
    border-radius: 50%;
    box-shadow: 10px 10px 15px 5px rgb(220,220,220);
}
#red{
    background-color: #ff0000;
}
#green{
    background-color: #008000;
}
#yellow{
    background-color: #ffff00;
}
#blue{
    background-color: #0000ff;
}
#pink{
    background-color: #ffc0cb;
}

.grid2{
    margin: auto;
    text-align: center;
    text-shadow: 10px 10px 15px rgb(109, 109, 109);
}

.grid2 h2{
    font-size: 2rem;
}
.grid2 h5{
    font-size: 1rem;
    color: rgba(105, 105, 105, 0.849);
}
button{
    font-size: 1.25em;
    background-color: rgb(64, 201, 255);
    border-radius: 10px;
    align-self: center;
    color: white;
    padding: 5px;
    margin-bottom:50px ;
    box-shadow: 10px 10px 15px rgb(56, 56, 56);
}